.layout {
  width: 100%;
  display: flex;
  align-items: center;
}

.node-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.node {
  display: flex;
  align-items: center;
}

.node-1 {
  padding: 16px;
  border: 1px solid var(--neutral-500);
  border-radius: 4px;
  background-color: var(--white);
  cursor: pointer;
}

.node-2 {
  padding: 24px 16px;
  border: 1px solid var(--neutral-500);
  border-radius: 100%;
  background-color: var(--white);
  cursor: pointer;
}

.port {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--neutral-100);
  border: 0.5px solid var(--neutral-500);

  &:hover {
    background-color: var(--neutral-900);
  }
}
