<mat-sidenav-container autosize="true">
  <!-- chat list -->
  <mat-sidenav [opened]="isSidenavOpened()" [mode]="sidenavMode()">
    <mat-nav-list>
      <a class="chat-nav-link">
        <mat-icon svgIcon="search" />
        <span>new chat</span>
      </a>
      <a class="chat-nav-link">
        <mat-icon svgIcon="search" />
        <span>new chat</span>
      </a>
      <a class="chat-nav-link">
        <mat-icon svgIcon="search" />
        <span>new chat</span>
      </a>
      <a class="chat-nav-link">
        <mat-icon svgIcon="search" />
        <span>new chat</span>
      </a>
      <a class="chat-nav-link">
        <mat-icon svgIcon="search" />
        <span>new chat</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="chat-main-content">
    <!-- header -->
    <app-header
      #header
      [currentComponentInput]="currentComponent()"
      [isMobileInput]="isMobile()"
      [defaultTitle]="'Chat'"
    />

    <!-- router -->
    <div>
      <div>mode: {{ sidenavMode() }} | mobile: {{ isMobile() }}</div>

      <router-outlet class="router" (activate)="onActivate($event)" />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
